*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}



.screen-selection{
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

#character-selection{
    padding: 10px;
    width: 650px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: black;
}

.character{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
}

#satoro{
    background: url(../img/bg/satoru-image.jpeg) no-repeat center center;
    background-size: cover;
}

#suguru{
    background: url(../img/bg/Suguru-Geto.jpeg) no-repeat center center;
    background-size: cover;
}

#sukuna{
    background: url(../img/bg/sukuna-img.jpg) no-repeat center center;
    background-size: cover;
}

#toji{
    background: url(../img/toji-perfil.jpeg) no-repeat center center;
    background-size: cover;
}

#persona-image > img{
    width: 250px;
    height: 250px;
}

.persona-view{
    display: block;
    width: 350px;
    height: 94vh;
    background-color: rgb(59, 48, 90);
}

.persona-view > img{
    display: block;
    width: 350px;
    height: 94vh;
}

#play-game {
    position: absolute;
    left: 650px;
    top: 600px;
    width: 100px;
    height: 30px;
}

#play-game:hover {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    background-color: gray;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(43, 11, 73);
}

footer #contatos, #anotthergames {
    width: 50vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 2px solid white;
    background-color: rgb(54, 13, 92);
    
}

p.footer-title{
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

footer  a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    font-weight: bolder;
}

#div-tag{
    padding: 20px;
}